@import url("./Component-styles/Navbar.scss");
@import url("./Component-styles/Footer.scss");
@import url("./Page-styles/Home.scss");
@import url("../App/Auth-styles/Login.scss");
@import url("../App/Auth-styles/Onboarding.scss");
@import url("../App/App-styles/Navigation.scss");
@import url("../App/App-styles/Dashboad.scss");
@import url("../App/App-styles/Activity.scss");
@import url("../Styles/Page-styles/DemoExperience.scss");
@import url("../Styles/Page-styles/Waitlist.scss");
@import url("../Styles/Page-styles/Bookings.scss");
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    ::-webkit-scrollbar {
  display: none;
}

/* Optional: Hide scrollbar in Firefox */
* {
  scrollbar-width: none; /* Firefox */
}
}

.web-layout{
    width: 95%;
    margin: 0 auto;
}

.layout{

    display: grid;
    grid-template-columns: 250px auto;
    // gap: 2.5rem;
    transition: .2s ease;

    &::-webkit-scrollbar {
  display: none;
}

}

  @media (max-width: 1200px) {
    .layout{
    display: flex;
    flex-direction: column;
    }
  }