.layout{
      -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 

    &::-webkit-scrollbar {
     display: none;
    }

    .dashboard, .analytics, .help, .settings, .campaigns, .profile, .adminDashboard, .active-campaigns, .users-data , .businesses, .helpDesk
    {
        padding: 2.1rem 2rem;
        background: #F6F6F6;
          height: 100dvh;
        overflow-y: auto;
            -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none; 

        &::-webkit-scrollbar {
        display: none;
        }

         .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1.5rem;
            border-bottom: 1px solid hsl(0, 0%, 80%);
            padding-bottom: 1rem;

            p{
                color: #333;
                font-weight: 500;
                font-size: 25px;
            }

            .user-brand{
                display: flex;
                align-items: center;
                gap: .5rem;
                cursor: pointer;
                text-decoration: none;

                .activity{
                    border-right: 1px solid #888;
                    font-size: 22.5px;
                    margin-inline-end: .5em;
                    // padding-inline-end: .75rem;
                    color: #333;
                    
                    .notification-container{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        background: hsl(0, 0%, 90%);
                    margin-inline-end: .75em;
                    border-radius: 50%;
                    }
                    
                }

                .active-business{
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    text-decoration: none;
                    img{
                        width: 40px;
                        padding: 5px;
                        background: hsl(0, 0%, 90%);
                        border-radius: 50%;
                    }
    
                    span{
                        color: #333;
                    }

                }


            }


        }


        }

    .dashboard{

        .dashboard-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1.5rem;

            p{
                color: #333;
                font-weight: 500;
                font-size: 25px;
            }
        }
        
        
        .dashboard-container{

            .campaings{
                display: flex;
                align-items: center;
                gap: 1rem;


                .campaign{
                    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    background: white;
                    width: 250px;
                    padding:  1rem;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    p{
                        color: #888;
                    }

                    .active{
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                    }

                    .campaign-more{
                        display: flex;
                        align-items: center;
                        // justify-content: space-between;
                        
                        span, a{
                            padding-inline: 1rem;
                            color: #888;
                            cursor: pointer;
                            text-decoration: none;

                            &:nth-child(1){
                                padding-left: 0;
                                border-right: 1px solid #888;
                            }
                        }
                    }
                }
            }
        }


      
    }

}

  @media (max-width: 1200px) {
  .layout{

    .dashboard{
        padding: 2rem 1rem;

        .dashboard-header{
            display: none;
        }

      
    }
  }
}