.invoice-navigation {

  .desktop-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1.5rem;
    color: #fff;
    border-right: 1px solid hsl(0, 0%, 90%);


     .menu-btn {
      display: none;
    }

    .logo {
        margin-top: 2.25rem;

      img {
        width: 100px;
        display: block;
        margin: 0 auto 0 auto;
      }
    }

    .pages {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      a {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        color: #000;
        text-decoration: none;
        font-size: 0.95rem;
        font-weight: 500;
        padding: 0.7rem 1rem;
        border-radius: 0.6rem;
        transition: all 0.1s ease;

        .icon {
          font-size: 1.3rem;
        }

        &:hover {
        background: hsl(352, 60%, 45%);
          color: #fff;
        }

        &.active {
        //   background: #1e293b;
        //   color: black;
        }
      }
    }

    .account { 
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: .75rem;

        span{
            width: 100%;
            background: hsl(0, 0%, 90%);
            height: 1px;
            margin-block: .5rem;
        }
        

          a {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        color: #000;
        text-decoration: none;
        font-size: 0.95rem;
        font-weight: 500;
        padding: 0.7rem 1rem;
        border-radius: 0.6rem;
        transition: all 0.1s ease;

        .icon {
          font-size: 1.3rem;
        }

        &:hover {
        background: hsl(352, 60%, 45%);
          color: #fff;
        }

        &.active {
        //   background: #1e293b;
        //   color: black;
        }
      }

      .admin-loggedin{
        color: #888;
        &:hover{
            background: transparent;
            color: #888;
        }
      }

      button {
        width: 100%;
        background: #D1495B;
        color: white;
        border: none;
        padding: 0.8rem;
        border-radius: 0.6rem;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.3s ease;

        &:hover {
              background: hsl(352, 60%, 45%);
        }
      }

    }
  }

  .mobile-navigation{

    .mobile-menu{
        img{
            display: none;
        }
    }

}
    
    
    .mobile-nav{
        .logo-page{
            img{
                display: none;
            }
        }
    }

}

  @media (max-width: 1080px) {
    .invoice-navigation{

        .desktop-nav{
            display: none;
        }

      
        .mobile-nav{
            height: 5rem;
            position: fixed;
            top: 0;
            left: 0;
            padding-inline: 1rem;
            background: white;
            width: 100%;
            display: flex;
            align-items: center;
            align-content: center;
            gap: 1.5rem;
            justify-content: space-between;
            border-bottom: 1px solid  hsl(0, 0%, 90%);

            h3{
              font-weight: 500;
              color: #333;
              font-size: .9em;
              margin-top: 5px;
            }

            .menu-btn {
          border: none;
          background: none;
          font-size: 1.8rem;
          cursor: pointer;
          color: #d1495b;
      }

      .logo-page{
        display: flex;
        align-items: center;
        gap: .75rem;

        span{
            width: 1px;
            background: hsl(0, 0%, 90%);
            height: 50px;
        }

        img{
            width: 100px;
            position: relative;
            display: block;
        }
      }
      
        }

        .mobile-navigation{
            background: rgba(0, 0, 0, 0.5);
               position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100%;
                z-index: 1000;
                // display: none;
                 transform: translateX(-100%);
                  transition: transform 0.3s ease;
                  

                &.show{
                    // display: block;
                     transform: translateX(0);
                }


                 .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            height: 100dvh;
            width: 250px;
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.5rem 1.5rem;
            color: #fff;

            .menu-btn {
            display: none;
            }

            img{
                margin: 0 auto;
                width: 100px;
                height: fit-content;
                display: block;
            }

     
            .pages {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            // margin-top: 7.5rem;

            a {
                display: flex;
                align-items: center;
                gap: 0.8rem;
                color: #000;
                text-decoration: none;
                font-size: 0.95rem;
                font-weight: 500;
                padding: 0.7rem 1rem;
                border-radius: 0.6rem;
                transition: all 0.1s ease;

                .icon {
                font-size: 1.3rem;
                }

                &:hover {
                background: hsl(352, 60%, 45%);
                color: #fff;
                }

                // &.active {
                // //   background: #1e293b;
                // //   color: black;
                // }
            }


            .account { 
                margin-top: 2rem;

            button {
                width: 100%;
                background: #D1495B;
                color: white;
                border: none;
                padding: 0.8rem;
                border-radius: 0.6rem;
                cursor: pointer;
                font-weight: 600;
                transition: all 0.3s ease;

                &:hover {
                    background: hsl(352, 60%, 45%);
                }
            }
            }
            }

               .account { 
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: .75rem;

           span{
            width: 100%;
            background: hsl(0, 0%, 90%);
            height: 1px;
            margin-block: .5rem;
        }

          a {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        color: #000;
        text-decoration: none;
        font-size: 0.95rem;
        font-weight: 500;
        padding: 0.7rem 1rem;
        border-radius: 0.6rem;
        transition: all 0.1s ease;

        .icon {
          font-size: 1.3rem;
        }

        &:hover {
        background: hsl(352, 60%, 45%);
          color: #fff;
        }

        &.active {
        //   background: #1e293b;
        //   color: black;
        }
      }

       .admin-loggedin{
        color: #888;
        &:hover{
            background: transparent;
            color: #888;
        }
      }

      button {
        width: 100%;
        background: #D1495B;
        color: white;
        border: none;
        padding: 0.8rem;
        border-radius: 0.6rem;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.3s ease;

        &:hover {
              background: hsl(352, 60%, 45%);
        }
      }

    }

            
        }

        }


    }
  }
