.footer{
    // position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1F1F1F;
    color: white;
    margin-top: auto;


    .footer-container{
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-top: 3.5rem;

        .footer-top{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .left{
                display: flex;
                align-items: flex-start;
                gap: 5rem;

                .bar{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                h3{
                    margin-bottom: .5rem;
                }

                a{
                    color: hsl(0, 0%, 90%);
                    text-decoration: none;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                }
            }

            .right{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .sub-button{
                    display: flex;
                    align-items: center;
                    gap: .75rem;

                    input{
                        padding: 10px 15px;
                        border: 1px solid hsl(0, 0%, 80%);
                        
                        &:focus{
                            border: 1px solid #b3001b;
                            outline: 1px solid #b3001b;
                        }
                    }

                    button{
                        background: #b3001b;
                        color: white;
                        padding: 10px 15px;
                        border-radius: 3px;
                        cursor: pointer;
                        border: none;

                        &:hover{
                        background: hsl(351, 100%, 45%);
                        }
                    }
                }

                span{
                    color: #888;
                    font-size: 12px;
                    
                }
            }

        }

        .footer-bottom{
            display: flex;
            align-items: center;
            padding-bottom: 3.5rem;
            justify-content: space-between;

            .logo-container{
                display: flex;
                align-items: center;
                gap: 2rem;
                
                img{
                    width: 100px;
                    filter: invert(1);
                }

                p{
                    padding-top: 6px;
                    color: #888;
                }
            }

            .socials{
                display: flex;
                align-items: center;
                gap: 1rem;
                
                a{
                    cursor: pointer;
                    color: white;
                    padding: 5px;
                }
                
            }
        }
    }
}

@media (max-width: 900px) {
.footer{

    .footer-container{
        padding-inline: 1rem;
        line-height: 1.5;

        .footer-top{
            flex-direction: column-reverse;
            gap: 5rem;

            .left{
                gap: 2rem;

                .bar{
                    gap: 1rem;
                    h3{
                        margin-bottom: 0;
                    }
    
                    a{
                        font-size: 90%;
                    }
                }

            }
        }

        .footer-bottom{
            flex-direction: column-reverse;

            .logo-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 1.5em;
                gap: 1rem;
            }
        }
    }
}
}